<script>
    import {stores} from '@sapper/app';
    import Nav from '../components/Nav.svelte';
    import PreloadingIndicator from '../components/PreloadingIndicator.svelte';
    import PouchDB from 'pouchdb-sapper';

    export let segment;

    const {preloading, session} = stores();

    (async () => {
        if(typeof process !== 'undefined') return;
        session.db = new PouchDB('audi-o');
        // session.db.destroy();

        if ((await session.db.info()).update_seq === 0) {
            const docs = await (await fetch("/albums.json")).json();
            session.db.bulkDocs(docs);
        }
    })();
</script>

<style>
    main {
        position: relative;
        max-width: 56em;
        padding: 2em;
        margin: 0 auto;
        box-sizing: border-box;
    }
</style>

<Nav {segment}/>

{#if $preloading}
    <PreloadingIndicator/>
{/if}

<main>
    <slot></slot>
</main>
