<script>
    import Songs from "../_components/Songs.svelte";
    import {getSongs} from "../_utils";
    import {stores} from "@sapper/app";

    const {session} = stores();

    let songs = [];

    (async () => {
        if(typeof process !== 'undefined') return;
        songs = await getSongs(session.db);
    })();
</script>

<svelte:head>
    <title>Songs • Audi'O</title>
</svelte:head>

<h1 class="mb-2">Songs</h1>

<div class="d-flex">
    <h3 class="col">Artist</h3>
    <h3 class="col">Album</h3>
    <h3 class="col">Song</h3>
</div>

<Songs songs="{songs}"/>
