<script>
    import {stores} from '@sapper/app';
    import {goto} from "@sapper/app.mjs";

    const {session} = stores();

    export let segment;

    async function logout() {
        session.set({});
        await goto('/login');
    }
</script>

<style>
    nav {
        /* background-color: rgba(255, 102, 0, 0.05); */
        border-bottom: 1px solid #ff6600;
        font-weight: 300;
        padding: 0 1em;
    }

    .icon {
        display: block;
        width: 1em;
        height: 1em;
        float: left;
        font-size: 2em;
        position: relative;
        top: 0.4em;
        box-sizing: border-box;
        margin: 0 0.5em 0 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul::after {
        content: '';
        display: block;
        clear: both;
    }

    li {
        display: block;
        float: left;
    }

    .right {
        float: right;
    }

    .active {
        position: relative;
        display: inline-block;
    }

    .active::after {
        position: absolute;
        content: '';
        width: calc(100% - 1em);
        height: 2px;
        background-color: #ff6600;
        display: block;
        bottom: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
        padding: 1em 0.5em;
        display: block;
        font-weight: 500;
    }

    @media (min-width: 400px) {
        .icon {
            margin: 0 0.5em 0 0;
        }

        li {
            display: inline-block;
        }
    }
</style>

<nav>
    <img alt="Logo" class="icon" src="/favicon.png">

    <ul>
        <li><a rel="prefetch" href="/songs" class:active="{segment === 'songs'}">songs</a></li>
        <li><a rel="prefetch" href="/albums" class:active="{segment === 'albums'}">albums</a></li>
        <li><a rel="prefetch" href="/authors" class:active="{segment === 'authors'}">authors</a></li>

        <li class="right"><a rel="prefetch" href="/about" class:active="{segment === 'about'}">about</a></li>
    </ul>
</nav>