<script>
    import Album from "../_components/Album.svelte";

    export let deleteCallback = null;

    export let albums;
</script>

<div class="d-flex flex-wrap" style="gap: 1rem;">
    {#each albums as album, i}
        {#if deleteCallback}
            <Album album='{album}' deleteCallback={() => deleteCallback(i)}/>
        {:else}
            <Album album='{album}'/>
        {/if}
    {/each}
</div>