<script>
    function mouseenter() {
        hovered = true;
    }

    function mouseleave() {
        hovered = false;
    }

    export let deleteCallback = null;

    export let hovered = false;
    export let album;
</script>

<style>
    .vinyl-effect, .cover-effect {
        transition: 0.3s;
    }

    .hovered.vinyl-effect {
        opacity: 0;
    }

    .hovered.cover-effect {
        opacity: 0.25;
    }

    .resized {
        width: 18rem;
        height: 18rem;
    }
</style>

<article class="resized card bg-transparent border-0 text-white rounded-circle" on:mouseenter={mouseenter}
         on:mouseleave={mouseleave}>
    <img src="{album.coverUrl}" class:hovered class="cover-effect resized card-img rounded-circle" alt="Album cover">
    <div class:hovered class="vinyl-effect card-img-overlay"
         style="background: radial-gradient(circle, rgba(0,0,0,1) 14%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 29%, rgba(0,0,0,1) 30%, rgba(255,255,255,0) 31%, rgba(255,255,255,0) 32%, rgba(0,0,0,1) 33%, rgba(255,255,255,0) 34%, rgba(255,255,255,0) 67%, rgba(0,0,0,1) 68%, rgba(255,255,255,0) 69%); ">
    </div>
    <div class="card-img-overlay text-white rounded-circle d-flex flex-wrap align-items-center justify-content-center flex-column p-0">
        {#if deleteCallback}
            <button on:click={deleteCallback} class="btn btn-danger position-absolute" style="top: 15%;left: 85%">X
            </button>
        {/if}
        <a class="card-title btn btn-link text-center" href="/albums/{album._id}" role="button"><h1>{album.title}</h1></a>
        <a class="card-subtitle btn btn-link text-center" href="/authors/{album.author._id}" role="button">
            <h3>{album.author.name}</h3>
        </a>
    </div>
</article>
