<script>

    export let song;

    export let removeFromArrayCallback = null;

    async function updateSong(event) {
        if (!song.title || song.name.length === 0)
            song.title = "Unnamed song";
        await patch(`api/songs/${song._id}`, {name: song.name});
    }
</script>

<article class="d-flex">
    <div class="col"><a href="/authors/{song.author._id}">{song.author.name}</a></div>
    <div class="col"><a href="/albums/{song.album._id}">{song.album.title}</a></div>
    {#if removeFromArrayCallback}
        <input class="col form-control" type="text" placeholder="Song's name" bind:value={song.title}
               on:focusout={updateSong}>
        <button on:click={removeFromArrayCallback} class="btn btn-danger">X</button>
    {:else}
        <div class="col"><a href="/albums/{song.album._id}">{song.title}</a></div>
    {/if}
</article>
