<script context="module">
    export async function preload({params}) {
        return {author_id: params.id};
    }
</script>

<script>
    import {goto, stores} from "@sapper/app";
    import {deSerializeAlbum, deSerializeAuthor, getAuthor} from "../_utils";
    import Albums from "../_components/Albums.svelte";

    export let author_id;
    let author;
    let authorJustUpdated = false;

    const {session} = stores();
    (async () => {
        if (typeof process !== 'undefined') return;
        author = await getAuthor(session.db, author_id)
    })();

    async function newAlbum(event) {
        const createdAlbum = {
            type: 'album', _id: `${author._id}-${Math.floor(Math.random() * 100000)}`, author: author._id,
            title: 'New album', songs: []
        }
        await session.db.post(createdAlbum);
        author = await getAuthor(session.db, author_id);
        await goto(`/albums/${createdAlbum._id}`);
    }

    async function deleteAlbum(index) {
        const deletedAlbum = author.albums.splice(index, 1)[0];
        author.albums = author["albums"]; // Needed in order to make Svelte refresh the Albums component
        await session.db.remove(deSerializeAlbum(deletedAlbum));
    }

    async function updateAuthor(event) {
        if (!author.name || author.name.length === 0)
            author.name = "Unnamed author";
        await session.db.put(deSerializeAuthor(author));

        authorJustUpdated = true;
        setTimeout(() => {
            authorJustUpdated = false;
        }, 3000);
    }
</script>

<style>
    #authorJustUpdated {
        opacity: 0;
        transition: 0.3s;
    }

    #authorJustUpdated.authorJustUpdated {
        opacity: 1;
    }

    .cover {
        max-height: 16rem;
        max-width: 16rem;
    }
</style>

<svelte:head>
    {#if author}
        <title>{author.name} • Audi'O</title>
    {/if}
</svelte:head>

{#if author}
    <h1>Edit {author.name}</h1>
    <div class="d-flex align-items-center flex-wrap mt-3">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/1200px-Placeholder_no_text.svg.png"
             alt="Album cover" class="cover col-sm-6 col-12">

        <form on:submit|preventDefault={updateAuthor} class="col-sm-6 col-12 d-flex flex-column">
            <fieldset class="form-group">
                <label for="editAuthorName">Author's name</label>
                <input id="editAuthorName" class="form-control form-control-lg" type="text" required
                       bind:value={author.name}>
            </fieldset>
            <fieldset class="d-flex justify-content-between align-items-center">
                <div id="authorJustUpdated" class="text-success" class:authorJustUpdated>Album updated</div>
                <button class="btn btn-lg btn-success">✅</button>
            </fieldset>
        </form>
    </div>

    <div class="d-flex align-items-center mt-5 mb-3" style="gap: 1rem;">
        <h1 class="mb-5 mt-3">{author.name}'s albums</h1>
        <button on:click={newAlbum} class="btn btn-success">+ New Album</button>
    </div>

    <div class="d-flex flex-wrap" style="gap: 1rem;">
        <Albums albums={author.albums} deleteCallback={deleteAlbum}/>
    </div>
{/if}