<script>
    import Author from "../_components/Author.svelte";
    import {deSerializeAuthor, getAuthors} from "../_utils";
    import {goto, stores} from "@sapper/app";

    const {session} = stores();

    let authors = [];

    (async () => {
        if (typeof process !== 'undefined') return;
        authors = await getAuthors(session.db);
    })();

    async function newAuthor(event) {
        const createdAuthor = {type: "author", _id: `new_author_${Math.floor(Math.random() * 100000)}`, name: 'New author'}
        await session.db.post(createdAuthor);
        authors = await getAuthors(session.db);
        await goto(`/authors/${createdAuthor._id}`);
    }

    async function deleteAuthor(index) {
        const deletedAuthor = authors.splice(index, 1)[0];
        authors = authors; // Needed in order to make Svelte refresh the Author components
        await session.db.remove(deSerializeAuthor(deletedAuthor));
    }
</script>

<svelte:head>
    <title>Authors • Audi'O</title>
</svelte:head>


<div class="d-flex align-items-center mt-5 mb-3" style="gap: 1rem;">
    <h1>Authors</h1>
    <button on:click={newAuthor} class="btn btn-success">+ New Author</button>
</div>

<div class="d-flex flex-wrap" style="gap: 1rem;">
    {#each authors as author, i}
        <Author author='{author}' deleteCallback={() => deleteAuthor(i)}/>
    {/each}
</div>
