<script context="module">
    export async function preload({params}) {
        return {album_id: params.id};
    }
</script>

<script>
    import Songs from "../_components/Songs.svelte";
    import ListErrors from "../_components/ListErrors.svelte";
    import {deSerializeAlbum, getAlbum} from "../_utils";
    import {stores} from "@sapper/app";

    export let album_id;
    let album;

    let formShown = false;
    let albumJustUpdated = false;
    let songTitle = "";
    let errors = null;

    const {session} = stores();
    (async () => {
        if (typeof process !== 'undefined') return;
        album = await getAlbum(session.db, album_id);
    })();

    async function removeSongFromAlbum(index) {
        album.songs.splice(index, 1)[0];
        album.songs = album["songs"]; // Needed in order to make Svelte refresh the Songs component
        await session.db.put(deSerializeAlbum(album));
    }

    function showForm() {
        formShown = true;
    }

    async function submitNewSong(event) {
        if (!songTitle || songTitle.length === 0)
            songTitle = "Unnamed song";
        const deSerializedAlbum = deSerializeAlbum(album);
        deSerializedAlbum.songs.push(songTitle);
        await session.db.put(deSerializedAlbum);

        album.songs.push({title: songTitle, album: album, author: album.author});
        album.songs = album["songs"]; // Needed in order to make Svelte refresh the Albums component
        formShown = false;
        songTitle = "";
    }

    async function updateAlbum(event) {
        if (!album.name || album.name.length === 0)
            album.name = "Unnamed album";
        await session.db.put(deSerializeAlbum(album));

        albumJustUpdated = true;
        setTimeout(() => {
            albumJustUpdated = false;
        }, 3000);
    }
</script>

<svelte:head>
    {#if album}
        <title>{album.author.name} - {album.title} • Audi'O</title>
    {/if}
</svelte:head>

<ListErrors {errors}/>

<style>
    #albumJustUpdated {
        opacity: 0;
        transition: 0.3s;
    }

    #albumJustUpdated.albumJustUpdated {
        opacity: 1;
    }

    .cover {
        max-height: 16rem;
        max-width: 16rem;
    }
</style>

{#if album}
    <h1>Edit {album.title}</h1>
    <div class="d-flex align-items-center flex-wrap mt-3">
        <img src="{album.coverUrl}" alt="Album cover" class="cover col-sm-6 col-12">

        <form on:submit|preventDefault={updateAlbum} class="col-sm-6 col-12 d-flex flex-column">
            <fieldset class="form-group">
                <label for="editAlbumTitle">Album's title</label>
                <input id="editAlbumTitle" class="form-control form-control-lg" type="text" required
                       bind:value={album.title}>
            </fieldset>
            <fieldset class="form-group">
                <label for="editAlbumCoverUrl">Album cover's URL</label>
                <input id="editAlbumCoverUrl" class="form-control" type="text" required bind:value={album.coverUrl}
                       placeholder="Cover URL">
            </fieldset>
            <fieldset class="d-flex justify-content-between align-items-center">
                <div id="albumJustUpdated" class="text-success" class:albumJustUpdated>Album updated</div>
                <button class="btn btn-lg btn-success">✅</button>
            </fieldset>
        </form>
    </div>

    <div class="d-flex mt-5">
        <h3 class="col">Artist</h3>
        <h3 class="col">Album</h3>
        <h3 class="col">Song</h3>
    </div>

    <Songs songs="{album.songs}" removeFromArrayCallback={removeSongFromAlbum}/>
    <hr class="bg-light">
    {#if !formShown}
        <button id="add-song" on:click={showForm} class="btn btn-success">+ Add song</button>
    {:else}
        <form on:submit|preventDefault={submitNewSong} class="d-flex mt-3">
            <fieldset class="form-group col">{album.author.name}</fieldset>
            <fieldset class="form-group col">{album.title}</fieldset>
            <fieldset class="form-group col">
                <input id="addSongTitle" class="form-control" type="text" required bind:value={songTitle}
                       placeholder="Song's title">
            </fieldset>
            <button class="btn btn-success">✅</button>
        </form>
    {/if}
{/if}