<script>
    import Albums from "../_components/Albums.svelte";
    import {stores} from "@sapper/app";
    import {getAlbums} from "../_utils";

    const {session} = stores();

    let albums = [];

    (async () => {
        if(typeof process !== 'undefined') return;
        albums = await getAlbums(session.db);
    })();
</script>

<svelte:head>
    <title>Albums • Audi'O</title>
</svelte:head>

<div>
    <h1>Albums</h1>

    <Albums albums={albums}/>
</div>